.msg {
    display: flex;
    align-items: flex-end;
    padding: 15px 10px;
    margin-top: -15px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .msg_wrap {
        background: #363636;
        padding: 0 10px;
        border-radius: 15px;
        color: #fff;
        max-width: 300px;

        .msg_user {
            color: #00CED1;
            font-size: 13px;
            font-weight: 700;
            margin-bottom: -10px;
        }

        .msg_text {
            font-size: 14px;
            word-wrap: break-word;

        }
    }
}

@media (max-width:400px) {
    .msg_wrap {
        max-width: 230px !important; 
    }
}