.signIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #00CED1;
    border: 0;
    background: #212121;
    padding: 15px 10px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    outline: 0;

    &:focus {
        box-shadow: none;
        transform: translateY(3px) translate(-50%, -50%);
    } 
}