.chat {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background: #282828;
  box-shadow: 0 5px 10px rgb(26, 26, 26);
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

body {
  background: #282828;
}

.incoming {

  //global class to identify outgoing and incoming messages
  div {
    border-bottom-left-radius: 0 !important;
  }
}

.outgoing {
  display: flex;
  justify-content: flex-end;

  div {
    border-bottom-right-radius: 0 !important;
  }
}


@media (max-width:1024px) {
  .chat {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100% !important;
    height: 100% !important;
    transform: none;
  }
}